<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33242133420-g9eevm7jvqcom03hcu3cok7qbnb1pvkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33242133420-g9eevm7jvqcom03hcu3cok7qbnb1pvkp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>33242133420-00vo80alhq884v0n7t5i0dup8aur32am.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDqgVftnVBJq6WxXI75pGC696TsZ7nrn8</string>
	<key>GCM_SENDER_ID</key>
	<string>33242133420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elbaz.baber</string>
	<key>PROJECT_ID</key>
	<string>baberapp-e0472</string>
	<key>STORAGE_BUCKET</key>
	<string>baberapp-e0472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33242133420:ios:7fa7d2d8a4e4876f118009</string>
</dict>
</plist>