<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543303823124-csosei9d644ap6vef03c88ddv067n007.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543303823124-csosei9d644ap6vef03c88ddv067n007</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543303823124-ua2qm5pido9m8l6d7r639r51sco6rvpq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBv4IWZyPZCHfRZ5Kxk0KhDLhekDbTH_bM</string>
	<key>GCM_SENDER_ID</key>
	<string>543303823124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elbaz.baber</string>
	<key>PROJECT_ID</key>
	<string>baber-27e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>baber-27e2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543303823124:ios:331c3f76e0d0cb3cef1c01</string>
</dict>
</plist>